<div class="tweet-box">
  <div class="between" *ngIf="!editMode">
  <div class="tweet-box-header">
    <span class="tweet-box-title">What is happening?!</span>
  </div>
  <textarea
    class="tweet-box-input"
    placeholder="What is happening?"
    [(ngModel)]="content"
  ></textarea>
  <div class="tweet-box-footer">
    <div class="tweet-box-actions">
      <button class="tweet-box-action-button" (click)="openImageFileInput()" *ngIf="!videoUrl && !imageUrl">
        <i class="fas fa-image"></i>
      </button>
      <input
        type="file"
        id="image-input"
        style="display: none;"
        (change)="onImageFileSelected($event)"
      />
      <button class="tweet-box-action-button" (click)="openVideoFileInput()" *ngIf="!videoUrl && !imageUrl">
        <i class="fas fa-video"></i>
      </button>
      <input
        type="file"
        id="video-input"
        style="display: none;"
        (change)="onVideoFileSelected($event)"
      />
    </div>
    <div class="error-message" *ngIf="uploadError">
      {{ uploadError }}
    </div>
    <div class="character-count">
      {{ getRemainingCharacters() }}/255
    </div>
    <button class="tweet-box-button" [disabled]="!content.trim() || content.length > 255" (click)="tweet()">Post</button>
  </div>
    <div class="tweet-image-preview-container" *ngIf="imageUrl">
      <img [src]="imageUrl" alt="image" class="tweet-image-preview"/>
      <button class="delete-media-button" (click)="deleteImage()">Delete image</button>
    </div>
    <div class="tweet-video-preview-container" *ngIf="videoUrl">
      <video [src]="videoUrl" controls loop muted class="tweet-video"></video>
      <button class="delete-media-button" (click)="deleteVideo()">Delete video</button>
    </div>
    <div class="error-message" *ngIf="tweetError">
      {{ tweetError }}
    </div>


  </div>

  <div class="betweenEdit" *ngIf="editMode">
    <div class="tweet-box-header">
      <span class="tweet-box-title">Edit Tweet</span>
    </div>
    <textarea
      class="tweet-box-input"
      placeholder="What is happening?"
      [(ngModel)]="editContent"
    ></textarea>
    <div class="tweet-box-footer">
      <div class="tweet-box-actions">
        <button class="tweet-box-action-button" (click)="openEditImageFileInput()" *ngIf="!editImageUrl && !editVideoUrl">
          <i class="fas fa-image"></i>
        </button>
        <input
          type="file"
          id="image-input-edit"
          style="display: none;"
          (change)="onEditImageFileSelected($event)"
        />
        <button class="tweet-box-action-button" (click)="openEditVideoFileInput()" *ngIf="!editImageUrl && !editVideoUrl">
          <i class="fas fa-video"></i>
        </button>
        <input
          type="file"
          id="video-input-edit"
          style="display: none;"
          (change)="onEditVideoFileSelected($event)"
        />
      </div>
      <div class="character-count-edit">
        {{ getRemainingCharactersEdit() }}/255
      </div>
      <div class="tweet-box-button-container">
        <button class="tweet-box-button" (click)="cancelEditMode()">Cancel</button>
        <button class="tweet-box-button" (click)="updateTweet()">Save</button>
      </div>
    </div>
    <div class="tweet-image-preview-container" *ngIf="editImageUrl">
      <img [src]="editImageUrl" alt="image"  class="tweet-image-preview"/>
      <button class="delete-media-button" (click)="deleteEditImage()">Delete image</button>
    </div>
    <div class="tweet-video-preview-container" *ngIf="editVideoUrl">
      <video [src]="editVideoUrl" controls loop muted class="tweet-video"></video>
      <button class="delete-media-button" (click)="deleteEditVideo()">Delete video</button>
    </div>
  </div>
  <div class="error-message" *ngIf="editError">
    {{ editError }}
  </div>


  <div class="tweet-box-divider"></div>

  <div class="tweet-list">
    <div class="tweet-item" *ngFor="let tweet of tweets">
      <div class="tweet-header">
        <div class="tweet-user-info">
          <span class="tweet-user-name">{{ tweet.userResponse.firstName }} {{ tweet.userResponse.lastName }}</span>
          <span class="tweet-user-username">{{ '@' + tweet.userResponse.username }}</span>
        </div>
        <span class="tweet-date">{{ getTimeAgo(tweet) }}</span>
        <div class="tweet-options" *ngIf="isCurrentUser(tweet.userResponse.id)">
          <button class="tweet-options-button" (click)="toggleOptions(tweet.id)">
            <i class="fas fa-ellipsis-h"></i>
          </button>
          <div class="tweet-options-dropdown" *ngIf="showOptions === tweet.id">
            <button class="tweet-options-item" (click)="enterEditMode(tweet)">
              <i class="fas fa-edit"></i>
            </button>
            <button class="tweet-options-item" (click)="deleteTweet(tweet.id)">
              <i class="fas fa-trash"></i>
            </button>
            <div class="error-message" *ngIf="deleteError">
              {{ deleteError }}
            </div>
          </div>
        </div>
      </div>
      <div class="tweet-content" style="white-space: pre-line;">{{ tweet.content }}</div>

      <div class="tweet-image" *ngIf="tweet.imageUrl">
        <img ngSrc="{{ tweet.imageUrl }}" alt="image" fill/>
      </div>
      <div class="tweet-video" *ngIf="tweet.videoUrl">
        <video [src]="tweet.videoUrl" controls loop muted class="tweet-video"></video>
      </div>

      <div class="tweet-actions">
        <button class="tweet-action-button">
          <i class="far fa-comment"></i>
          <span class="tweet-action-count">{{ tweet.numOfComments }}</span>
        </button>
        <button class="tweet-action-button">
          <i class="fas fa-retweet"></i>
          <span class="tweet-action-count">{{ tweet.numOfRetweets }}</span>
        </button>
        <button class="tweet-action-button">
          <i class="far fa-heart"></i>
          <span class="tweet-action-count">{{ tweet.numOfLikes }}</span>
        </button>
        <button class="tweet-action-button">
          <i class="far fa-chart-bar"></i>
          <span class="tweet-action-count">{{ tweet.numOfImpressions }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
